body {
  align-items: center;
  align-self: center;
}
.cards {
  width: 130px;
  height: 130px;
  display: flex;

  margin: 8px;
  padding: 8px;

  position: relative;
  animation-name: scrol;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: 10s;
  animation-direction: alternate;
  
}

img {
  margin: 8px;
}

.carousel {
  border: solid;
  max-width: 200px;
  max-height: 200px;

  margin-left: 40%;
  overflow: hidden;
  border-radius: 30%;
  background-color: rgb(247, 9, 172);
}

@keyframes scrol {
  0% {
    transform:  translateX(0%);
  }
  50% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(-230%);
  }
}